@page
@model ChangePasswordModel

<h2>Change Password</h2>

<form method="post">
    <input asp-for="Username" placeholder="Username" /><br />
    <input asp-for="PhoneNumber" placeholder="Phone Number" /><br />
    <input asp-for="DateOfBirth" type="date" /><br />
    <input asp-for="NewPassword" placeholder="New Password" type="password" /><br />
    <button type="submit">Change Password</button>
</form>

<a href="/Login">Back to Login</a>
